* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	 font-family: "Inter", sans-serif;
}

body {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

main {
	background-color: #1F1F1F;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 384px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
	border-radius: 12px;
	color: white;
}
/*

article {
	
}
*/

img {
	border-radius: 50%;
	width: 88px;
	margin-bottom: 24px;
}

h1 {
	margin: 4px 0;
	font-size: 24px;
	line-height: 150%;
	font-weight: 600;
}

.location { 
	color: #C4F82A;
	font-size: 14px;
	line-height: 150%;
	font-weight: 700;
}

.bio {
	margin: 24px 0;
	font-size: 14px;
	line-height: 150%;
	font-weight: 400;
}

.buttons p{
	background-color: #333333;
	height: 45px;
	width: 304px;
	margin: 0 0 16px 0;
	line-height: 45px;
	border-radius: 8px;
	color: white;
	
	font-size: 14px;
	font-weight: 600;
}

.buttons p:last-of-type {
	margin-bottom: 0;
}

footer {
	position: absolute;
	bottom: 3px;
	color: white;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: pink;
}

a:hover { color: lightblue;}
a:active { color: purple;}

.buttons p:hover {
	background-color: #C4F82A;
	cursor: pointer;
	color: black;
	transition: ease-in-out 0.25s;
}

@media screen and (max-width: 380px) {
	main {
		width: 327px;
		height: 579px;
		padding: 24px;
	}
}
